<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>图书查找</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          请输入百度书城书名：<br>
          {{ form.xsname(size=80) }}<br>
          {% for error in form.xsname.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      <!--<p>{{ form.remember_me }}记住我</p>-->
      <p><input type="submit" value="确定"></p>
  </form>
{% endblock %}