{% extends "base.html" %}
{#{% block title %}管理员登陆{% endblock %}#}
{##}
{#    {%- block styles %}#}
{#        {{super()}}#}
{#    <!--<link href="{{url_for('static',filename = 'bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">-->#}
{#        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
{#    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
{#    <!--[if lt IE 9]>#}
{#    <!--<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->#}
{#    <!--<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->#}
{#    <![endif]-->#}
{#    {%- endblock styles %}#}
{##}
{#{% block body_attribs %}{% endblock body_attribs %}#}
{% block content %}
    <div id="loginBar">
        <div>
            <h1 class="myFont">Qblog后台登陆</h1>
        </div>
        <div style="height: 60px;">
        <div id="alertMsg" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
            <button type="button" id="alertMsgClose" class="close msgBtn"><span aria-hidden="true">&times;</span></button>
            <strong>错误：</strong> <text id="alertTxt"></text>
        </div>
        </div>
        <div>
            <div class="login_input_div">
                <input type="text" value="" id="InputUser1" class="login_input" placeholder="用户名或邮箱">
            </div>
            <div class="login_input_div">
                <input type="password" value="" id="InputPassword1" class="login_input" placeholder="密码">
            </div>
            <div class="login_button_div">
                <button class="login_button" id="loginBtn">登陆</button>
            </div>
            <div style="overflow:auto;">
                <label style="float: left;">
                    <input type="checkBox" id="remember_me" checked> 记住我
                </label>
                <a href="#" style="float: right;color: inherit;">无法登陆？</a>
            </div>
        </div>
        <div style="height: 60px;">
        <div id="successMsg" class="alert alert-success alert-dismissible" role="alert" style="display: none;">
            <button type="button" id="successMsgClose" class="close msgBtn"><span aria-hidden="true">&times;</span></button>
            <strong>登陆成功！</strong> <text id="successTxt"></text>
        </div>
        </div>
</div>
{% endblock %}
{% block sidebar -%}
{% endblock %}
{% block footer -%}
{%- endblock footer %}
{% block scripts %}
{{ super() }}
{#<!--<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>-->#}
<script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}


